<div class="container">
    <div class="row mbr-white">
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                <strong>Contact</strong>
            </h5>
            <ul class="list mbr-fonts-style display-4">
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap">admin@vineanalytica.com</li>
                    <li class="mbr-text item-wrap"> (412) 540-5103</li>
                    <li class="mbr-text item-wrap">pennsylvania, USA </li>
                   
                </ul>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                <strong>Themes</strong>
            </h5>
            <ul class="list mbr-fonts-style display-4">
                <a href="/privacy-policy" class="mbr-text item-wrap"> <span style="color: #007581;">&gt;</span> Privacy policy</a><br>
                <a href="/term-and-condition" class="mbr-text item-wrap"> <span style="color: #007581;">&gt;</span>  Terms and condition</a><br>
                <a href="refund-policy" class="mbr-text item-wrap"><span style="color: #007581;">&gt;</span>  Refund policy</a><br>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                <strong>Qiuck Link</strong>
            </h5>
            <ul class="list mbr-fonts-style display-4">
            <a href="/" class="mbr-text item-wrap"><span style="color: #007581;">&gt;</span>  Home </a> <br>
                <a href="/contact" class="mbr-text item-wrap"><span style="color: #007581;">&gt;</span>  Contact</a><br>         
                <a href="/about" class="mbr-text item-wrap"><span style="color: #007581;">&gt;</span> About Us</a><br>
                <a href="/services" class="mbr-text item-wrap"><span style="color: #007581;">&gt;</span> services</a><br>
                
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                <strong>About</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-4 display-4">
                Vine Analytica is a distinctive investment company offering investors to high growth investment opportunity in the Tech space, finance market and other services.</p>
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-3 display-7">
                <strong>Social</strong>
            </h5>
            <div class="social-row display-7">
                <div class="soc-item">
                    <a href="https://www.instagram.com/vineanalytica" target="_blank">
                        <span class="mbr-iconfont socicon socicon-instagram"></span>
                    </a>
                </div>
                <div class="soc-item">
                    <a href="https://twitter.com/vineanalytica" target="_blank">
                        <span class="mbr-iconfont socicon socicon-twitter"></span>
                    </a>
                </div>
                <div class="soc-item">
                    <a href="https://www.linkedin.com/company/vineanalytica" target="_blank">
                        <span class="mbr-iconfont socicon socicon-linkedin"></span>
                    </a>
                </div>
                
            </div>
        </div>
        
    </div>
</div>