<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Analytics Dashboard </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
  
<link href="/main.css" rel="stylesheet"></head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <!-- <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>    -->
             <div class="app-header__content">
                <div class="app-header-left">
                    <div class="search-wrapper">
                        <!-- <div class="input-holder">
                            <input type="text" class="search-input" placeholder="Type to search">
                            <button class="search-icon"><span></span></button>
                        </div> -->
                        <button class="close"></button>
                    </div>
                    <ul class="header-menu nav">
                        <li class="dropdown nav-item">
                            <a href="/profile" class="nav-link">
                                <i class="nav-link-icon fa pe-7s-user"></i>
                               Profile
                            </a>
                        </li>
                    </ul>        </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="assets/images/avatars/profile.png" alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <button type="button" tabindex="0" class="dropdown-item">User Account</button>
                                            <button type="button" tabindex="0" class="dropdown-item">Settings</button>
                                            <h6 tabindex="-1" class="dropdown-header">Header</h6>
                                            <button type="button" tabindex="0" class="dropdown-item">Actions</button>
                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <button type="button" tabindex="0" class="dropdown-item">Dividers</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>        </div>
            </div>
        </div>        <div class="ui-theme-settings">
            <div class="theme-settings__inner">
                <div class="scrollbar-container">
                    <div class="theme-settings__options-wrapper">
                        <h3 class="themeoptions-heading">Layout Options
                        </h3>
                        <div class="p-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="switch has-switch switch-container-class" data-class="fixed-header">
                                                    <div class="switch-animate switch-on">
                                                        <input type="checkbox" checked data-toggle="toggle" data-onstyle="success">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Fixed Header
                                                </div>
                                                <div class="widget-subheading">Makes the header top fixed, always visible!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="switch has-switch switch-container-class" data-class="fixed-sidebar">
                                                    <div class="switch-animate switch-on">
                                                        <input type="checkbox" checked data-toggle="toggle" data-onstyle="success">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Fixed Sidebar
                                                </div>
                                                <div class="widget-subheading">Makes the sidebar left fixed, always visible!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="switch has-switch switch-container-class" data-class="fixed-footer">
                                                    <div class="switch-animate switch-off">
                                                        <input type="checkbox" data-toggle="toggle" data-onstyle="success">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Fixed Footer
                                                </div>
                                                <div class="widget-subheading">Makes the app footer bottom fixed, always visible!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="p-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h5 class="pb-2">Page Section Tabs
                                    </h5>
                                    <div class="theme-settings-swatches">
                                        <div role="group" class="mt-2 btn-group">
                                            <button type="button" class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class" data-class="body-tabs-line">
                                                Line
                                            </button>
                                            <button type="button" class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class" data-class="body-tabs-shadow">
                                                Shadow
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>        <div class="app-main">
                <div class="app-sidebar sidebar-shadow">
                    <div class="app-header__logo">
                        <div class="logo-src"></div>
                        <div class="header__pane ml-auto">
                            <div>
                                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="app-header__mobile-menu">
                        <div>
                            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="app-header__menu">
                        <span>
                            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
                    </div>    <div class="scrollbar-sidebar">
                        <div class="app-sidebar__inner">
                            <ul class="vertical-nav-menu">
                                <li class="app-sidebar__heading">Dashboards</li>
                                <li>
                                    <a href="/">
                                        <i class="metismenu-icon pe-7s-rocket"></i>
                                        Dashboard
                                    </a>
                                </li>
                                <li class="app-sidebar__heading">Investments</li>
                                <li  >
                                    <a href="/invest">
                                        <i class="metismenu-icon pe-7s-plus"></i>
                                        Make an Investment
                                    </a>
                                </li>
                                <li  >
                                    <a href="/return-on-investments">
                                        <i class="metismenu-icon pe-7s-mail-open-file"></i>
                                        Returns
                                    </a>
                                </li>

                                <li  >
                                    <a href="/analytics">
                                        <i class="metismenu-icon pe-7s-graph1"></i>
                                        Analysis
                                    </a>
                                </li>
                                <li class="app-sidebar__heading">Profile</li>
                                <li>
                                    <a href="/profile">
                                        <i class="metismenu-icon pe-7s-user"></i>
                                        User details
                                    </a>
                                </li>
                                <li class="app-sidebar__heading">Withdrawals</li>
                                <li>
                                    <a href="/withdrawal" class="mm-active">
                                        <i class="metismenu-icon pe-7s-culture">
                                        </i>Withdraw
                                    </a>
                                </li>
                               
                                <li class="app-sidebar__heading">Log Out</li>
                                <li>
                                    <a href="/users/logout">
                                        <i class="metismenu-icon pe-7s-crop">
                                        </i>Log out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> 
                <div class="app-main__outer">
                  <div class="app-main__inner">
                      <div class="app-page-title">
                          <div class="page-title-wrapper">
                              <div class="page-title-heading">
                                  <div class="page-title-icon">
                                      <i class="pe-7s-wallet icon-gradient bg-plum-plate">
                                      </i>
                                  </div>
                                  <div>Withdraw Funds 
                                      <div class="page-title-subheading">Withdraw your profit or Available balance 
                                      </div>
                                  </div>
                              </div>
                              <!-- <div class="page-title-actions">
                                  <button type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark" data-original-title="Example Tooltip">
                                      <i class="fa fa-star"></i>
                                  </button>
                                  <div class="d-inline-block dropdown">
                                      <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                                          <span class="btn-icon-wrapper pr-2 opacity-7">
                                              <i class="fa fa-business-time fa-w-20"></i>
                                          </span>
                                          Buttons
                                      </button>
                                      <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                          <ul class="nav flex-column">
                                              <li class="nav-item">
                                                  <a href="javascript:void(0);" class="nav-link">
                                                      <i class="nav-link-icon lnr-inbox"></i>
                                                      <span>
                                                          Inbox
                                                      </span>
                                                      <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                                  </a>
                                              </li>
                                              <li class="nav-item">
                                                  <a href="javascript:void(0);" class="nav-link">
                                                      <i class="nav-link-icon lnr-book"></i>
                                                      <span>
                                                          Book
                                                      </span>
                                                      <div class="ml-auto badge badge-pill badge-danger">5</div>
                                                  </a>
                                              </li>
                                              <li class="nav-item">
                                                  <a href="javascript:void(0);" class="nav-link">
                                                      <i class="nav-link-icon lnr-picture"></i>
                                                      <span>
                                                          Picture
                                                      </span>
                                                  </a>
                                              </li>
                                              <li class="nav-item">
                                                  <a disabled="" href="javascript:void(0);" class="nav-link disabled">
                                                      <i class="nav-link-icon lnr-file-empty"></i>
                                                      <span>
                                                          File Disabled
                                                      </span>
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>   --> </div> 
                      </div>            <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                          <li class="nav-item">
                              <a role="tab" class="nav-link active show" id="tab-0" data-toggle="tab" href="#tab-content-0" aria-selected="true">
                                <span>Withdraw</span>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a role="tab" class="nav-link " id="tab-1" data-toggle="tab" href="#tab-content-1" aria-selected="false">
                                <span>Grid</span>
                            </a>
                        </li> -->
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane tabs-animation fade active show" id="tab-content-0" role="tabpanel">
                            <div class="main-card mb-3 card">
                                <div class="card-body"><h5 class="card-title">Withdraw Funds</h5>
                                    <form method="GET" action="/dashboard">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group"><label for="Amount" class="">Amount</label><input name="Amount" id="Amount" placeholder="eg: $200" type="number" class="form-control"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group"><label for="WalletAddress" class="">Wallet Address</label><input name="WalletAddress" id="WalletAddress" placeholder="eg:1QYGcDKLkg8ECavuTCdhw6kc7eyimMfC4 " type="text" class="form-control" value="1QYGcDKLkg8ECavuTCdhw6kc7eyimMfC4"></div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group"><label for="remark" class="">Remark</label><input name="remark" id="remark" type="remark" class="form-control"></div>
                                            </div>
                                           
                                            <div class="col-md-6">
                                                <div class="position-relative form-group"><label for="password" class=""> Password</label><input name="password" id="password" type="password" class="form-control"></div>
                                            </div>
                                        </div>
                                        
                                        <br><br>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn mr-2 mb-2 btn-primary" data-toggle="modal" data-target="#exampleModal"  onclick="verify()">
                                           Withdraw
                                        </button>
                                    
                                    </div>
                                    </form>
                                </div>
                            </div>
                           
                        </div>
                       
                    </div>
                </div>
               
              
                 
  </div>
  
</div>
<script type="text/javascript" src="./assets/scripts/main.js"></script></body>
</html>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">COnfirm Transaction</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p class="mb-0">Are you sure this wallet address  <span id="wallet"> </span> is correct</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
              <a href="/withdrawal-success" type="button" class="btn btn-primary">Continue</a>
          </div>
      </div>
  </div>
</div>

<script>
    function verify() {
      var x = document.getElementById("WalletAddress").value;
      document.getElementById("wallet").innerHTML = x;

    }

 </script>